body {
font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
background: #FFFFFF;
margin: 0px;
padding: 0px;
color: #555555;
text-rendering: optimizeLegibility;
min-width: 320px;
}

.masthead.segment {
background-image: url(../images/bg.jpg);
-webkit-background-size: cover;
background-size: cover;
margin: 0em;
padding-top: 4rem;
overflow: hidden;
-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.ui.page.grid.segment {
padding-top: 3.5rem;
padding-bottom: 3.5rem;
}

.ui.header {
font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.masthead.segment .information {
margin: 3em 1em 1em 280px;
}

.masthead.segment .image {
position: absolute;
left: 0%;
bottom: -110px;
}

.mBottom10 {
	margin-bottom: 10px;
}
.cell {
background-color: white;
border: 1px solid #EAEAEA;
width: 137px;
height: 50px;
margin: 10px;
padding: 20px;
float: left;
}